
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit profile</title>
    <link rel="stylesheet" href="/css/signUp.css">
    <script type="text/javascript" src="/js/signUp.js"></script>
    <style>
        #container {
            background: url('http://thecodeplayer.com/uploads/media/geometry.png');
        }
        .container{
            float: left;
        }
    </style>
</head>

<body id="container">
<%- include("./participantHomeTopbar.ejs") %>
<div class="container">
    <div class="form-style-5">
        <form method="POST" action="/users/providerRegister">
            <fieldset>
                <legend><span class="number"> </span> company profile</legend>
                <!--<input type="nickname" name="field1_1" placeholder="Your Preferred Name">-->
               Company email: <input type="email" id="icEmail" name="email" placeholder="111" required>
                Company name:<input type="text" id="icName" name="cname" placeholder="Institution/Company Name *" required>
                Company password<input type="password" id="icPassword" name="password" placeholder="Institution/Company Password*" required>
                Confirm password<input type="password" id="icPassword2" name="password2" placeholder="Confirm Password*" required>
                <!--<textarea name="field3" placeholder="About yourself"></textarea>-->
                <label for="job">Industry:</label>
                <select id="job" name="field4" value="select">
                    <!--<optgroup label="Indoors">-->
                    <option value="Architecture">Architecture</option>
                    <option value="Arts">Arts</option>
                    <option value="Biomedicine">Biomedicine</option>
                    <option value="Commerce">Commerce</option>
                    <option value="Design">Design</option>
                    <option value="Music">Music</option>
                    <option value="Science">Science</option>
                    <option value="etc">...</option>
                    <!--</optgroup>-->
                </select>
            </fieldset>
            <input type="submit" value="edit now"/>
        </form>
    </div>
</div>



</body>
</html>