<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EOS-Welcome</title>
    <link rel="stylesheet" href="/css/eos_home_style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <%- include("./header_login.ejs") %>
    <div class="body">
        <div class="slogan-grid">
            <div class="slogan">Not about Jobs: Find out what you loves most!</div>
        </div>

        <div class="button1">
            <p>Not about jobs</p>
            <p>Looking for opportunities</p>
            <p>Know more about your future career</p><br>
            <button type="button" class="btn btn-success btn-circle btn-xl" onclick="{location.href='/participant_signup'}"><i class="glyphicon glyphicon-ok"></i>Sign Up as Participant</button>

            <!--<button type="button" class="btn btn-outline-success">Success</button>-->
        </div>
        <div class="button2">
            <!--<button type="button" class="btn btn-light btn-lg" name="providers">Providers</button>-->
            <p>Providing ideas and opportunities</p>
            <p>....</p>
            <p>....</p><br>
            <button type="button" class="btn btn-info btn-circle btn-xl" onclick="{location.href='/provider_signup'}"><i class="glyphicon glyphicon-ok"></i>Sign Up as Provider</button>

            <!--<button type="button" class="btn btn-outline-success">Success</button>-->
        </div>

    </div>
</body>
</html>