<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>PROFILE</title>
    <style>
        .image{
            border-radius:50%;
            font-family: Gabriola;
        }
    </style>
    <style>
        .container {
            display: grid;
            grid-template-columns:  1fr  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "image  image  middle middle middle middle middle middle"
            ". .  right  right left left bottom bottom ";
        }
    </style>
    <style>
        .image{
            grid-area: image;
        }
    </style>
    <style>
        .picture{
            border-radius:50%;
        }
    </style>
    <style>
        .picture:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
    <style>
        .pipo{
            grid-area: pipo;
        }
    </style>
    <style>
        .p1{
            grid-area: middle;
        }
    </style>
    <style>
        .p2{
            grid-area: right;
        }
    </style>
    <style>
        .p3{
            grid-area: left;
        }
    </style>
    <style>
        .p4{
            grid-area: bottom;
        }
    </style>
    <style>
        #p1{
            font-family: Gabriola;
            border-radius: 25px;
            background-color: yellowgreen;
            border: 20px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 50px;
            margin: 4px 2px;
            cursor: pointer;
            width: 800px;
            height: 300px;
            text-decoration: none;

        }



    </style>
    <style>
        #p1:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
    <style>
        #p2:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
    <style>
        #p3:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
    <style>
        #p4:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
    <style>
        #p2{
            font-family: Gabriola;
            border-radius: 25px;
            background-color: mediumseagreen;
            border: 20px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 30px;
            margin: 4px 2px;
            cursor: pointer;
            width: 250px;
            height: 200px;
            text-decoration: none;
        }
    </style>

    <style>
        #p3{
            font-family: Gabriola;
            border-radius: 25px;
            background-color:forestgreen;
            border:20px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 30px;
            margin: 4px 2px;
            cursor: pointer;
            width:250px ;
            height: 200px;
            text-decoration: none;
        }
    </style>
    <style>
        #p4{
            font-family: Gabriola;
            border-radius: 25px;
            background-color: darkgreen;
            border: 20px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 30px;
            margin: 4px 2px;
            cursor: pointer;
            width: 250px;
            height: 200px;
            text-decoration: none;
        }
    </style>


</head>

<body>
<%- include("./providerHomeTopbar.ejs") %>

<div class="container">

    <div class="image">
        <img  src="https://i04picsos.sogoucdn.com/a3ead441722a4616" class="picture" height="500" width="500">
        <h1>     </h1>
        <h1>     </h1>
        <h1>Microsoft</h1>
    </div>




    <div class="p1">
        <a href="#" class="button" id="p1">Editable profile</a>
    </div>
    <div class="p2">
        <a href="#" class="button" id="p2"> Add Post</a>
    </div>
    <div class="p3">
        <a href="#" class="button" id="p3">Post 1</a>
    </div>
    <div class="p4">
        <a href="#" class="button" id="p4">Post 2</a>
    </div>
</div>
</div>

</body>
</html>
