<!--Before login, the body part of the welcome page(very first interface)-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EOS-Welcome</title>
    <link rel="stylesheet" href="/css/eos_home_style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <!--inherit the header(logo, login)-->
    <%- include("./header_login.ejs") %>
    <div class="container">
        <!--<div class="slogan-grid">-->
            <!--<div class="slogan">Not about Jobs: Find out what you loves most!</div>-->
        <!--</div>-->

        <div class="button1">
            <div class="button1text">
                <p>Not about jobs</p>
                <p>Look for opportunities</p>
                <p>Know more about your future career</p><br>
            </div>
            <div class="button">
                <button type="button" class="btn btn-info btn-circle btn-xl" onclick="{location.href='/participant_signup'}"><i class="glyphicon glyphicon-ok"></i>Sign Up</br>as</br>Participant</button>
            </div>
        </div>

        <div class="button2">
            <div class="button2text">
                <p>Provide ideas and opportunities</p>
                <p>Share our stories and experience</p>
                <p>Guide you to your dream</p><br>
            </div>
            <div class="button">
                <button type="button" class="btn btn-success btn-circle btn-xl" onclick="{location.href='/provider_signup'}"><i class="glyphicon glyphicon-ok"></i>Sign Up</br>as</br>Provider</button>
            </div>
        </div>

    </div>
</body>
</html>