<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Participant-PROFILE</title>
    <link rel="stylesheet" href="/css/eos_participant_profile.css">
</head>

<body>
<%- include("./participantHomeTopbar.ejs") %>
<div class="container">
    <!--user image-->
    <div class="image">
    <img  src="http://img2.touxiang.cn/file/20170630/56f72c829d88f88f042a3ab9a56228b6.jpg" class="picture" height="500" width="500">
    </div>
    <!--username-->
    <div class="username">
        <h1><%= username %></h1>
    </div>
    <!--user profile-->
    <div class="p1">
        <a href="/edit" class="button" id="p1">
            <div class="editbox" contenteditable="true">
                Hello, <h1><%= username %></h1>
                Editable profile! Click to Go!
            </div>
        </a>
     </div>
    
    <!--post related part-->
    <div class="p2">
        <a href="/post_liked" class="button" id="p2">Post liked<br><br><p>This is a Board collection of posts that LAY liked</p></a>
    </div>
    <div class="p3">
     <a href="/post_joined" class="button" id="p3">Post signed up<br><br><p>This is a Board collection of posts that LAY joined</p></a>
    </div>
    <!--quiz-->
    <div class="p4">
       <a href="/quiz" class="button" id="p4">Quiz<br><br><p>To see how intelligent you are!</p></a>
     </div>
    </div>
    </div>
</body>
</html>
