<!--Top menu: logo and login form on top bar-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <script type="text/javascript" src="/js/login.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/header_login.css" type="text/css">
    
</head>
<body>
    <div class="header_login">
    <div class="header">
        <a href="/">
            <img src="/image/eos_logo.png" alt="Logo is missing">
        </a>
    </div>
    <div class="login-grid">
        <div class="login">
            <!-- <form method="post" action="/js/login.js"> -->
            <form method="POST" action="/users/login">
            <!--  drop down bar -->
 <!--  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Options</label>
  </div> -->
            <select class="custom-select" id="inputGroupSelect01" name="roles" required>
                <option>Pick a role</option>
                <option value="par">Participant</option>
                <option value="pro">Provider</option>
            </select>

            <!--login form-->
            <label for="login_email"></label>
            <input type="text" id="login_email" name="username" required>
            <label for="login_password"></label>
            <input type="password" id="login_password" name="password" required>
            <!-- <input type="button" id="btn_login" value="login" onclick="login()"/> -->
            <input type="submit" id="btn_login" value="login"/>
            <!-- <input type="button" id="btn_login" value="login" href="/login"/> -->
            
            <!--<button type="submit" onclick="login();"><gaegu>Login</gaegu></button>-->
            <a class="link-forgot-password" href="/forgot_pw">Forget Password?</a>
            </form>

        </div>
    </div>
    </div>
</div>
</body>
</html>