<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <script src="js/timeCounter.js"></script>
    <!--href should not include /public-->
    <link href="/css/homestyle.css" rel="stylesheet" type="text/css" >
</head>
<body>

<div class="container">
    <h1>EOS</h1>
    <h1><%=TimeCounter.days%></h1>

    <h2>Bridging Your Future</h2>

    <h3>Coming Soon</h3>
    <p id="demo" style="font-size: 30px"></p>

</div>
</body>
</html>