<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta  name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <!--href should not include /public-->
    <link href="/css/home_temp_style.css" rel="stylesheet" type="text/css" >
</head>
<body>

<div class="container">
    <h1>EOS</h1>
    <div class ="teamname">
        <h2>Bridging Your Future</h2>
        <h3>Coming Soon</h3>
            </div>
    <div class ="teammember">
        <p> Buyan Li </p>
        <p> Jiahui Liang </p>
        <p> Zihe Wang </p>
            </div>
    <!--<p id="demo" style="font-size: 30px"></p>-->
</div>
<!--<script src="/js/timeCounter.js"></script>-->
</body>
</html>