<!--Sign up page for participants-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eos-Sign Up</title>
    <link rel="stylesheet" href="/css/signUp.css">
</head>
<body>
    <%- include("./header_login.ejs") %>
    <div class="container">
        <div class="form-style-5">
            <form method="POST" action="/users/participantRegister">
                <fieldset>
                    <legend><span class="number"> </span> Start</legend>
                    <input type="email" id="email" name="email" placeholder="Your Email *" required>
                    <input type="text" id="username" name="username" placeholder="Your UserName *" required>
                    <input type="password" id="password" name="password" placeholder="Your Password*" required>
                     <input type="password" id="password2" name="password2" placeholder="Confirm Password*" required>
                    <label for="job">Interests:</label>
                    <select id="job" name="interest" value="select">
                        <!--<optgroup label="Indoors">-->
                        <option value="Architecture">Architecture</option>
                        <option value="Arts">Arts</option>
                        <option value="Biomedicine">Biomedicine</option>
                        <option value="Commerce">Commerce</option>
                        <option value="Design">Design</option>
                        <option value="Music">Music</option>
                        <option value="Science">Science</option>
                        <option value="etc">...</option>
                        <!--</optgroup>-->
                    </select>
                </fieldset>
                <!-- <input type="submit" value="Register and Login" onclick="participantSignup()"/> -->
                <input type="submit" value="Register and Login"/>
            </form>
        </div>
    </div>

</body>
</html>