<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add A Post</title>
    <%- include("./providerHomeTopbar.ejs") %>
    <link rel="stylesheet" href="/css/postAdd.css">
    <!--summernote-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    <!--calendar-->
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="jqueryui/style.css">
</head>

<body>
<form method="POST" action="/users/addPostProcess">
    <div class="editsec">
        <!--title-->
        <p><%= cname %></p>
            <div class="form-group" id="title">
            <label for="exampleTextarea"><h1>Example: Add A Post Title</h1></label>
            <textarea id="summernote-title" name="title"></textarea>
                <!--brief-->
                <div class="form-group" id="brief">
                    <label for="exampleTextarea"><h1>Post Brief</h1></label>
                    <textarea id="summernote-brief" name="brief"></textarea>
                        <!--detail-->
                        <div class="form-group" id="detail">
                            <label for="exampleTextarea"><h1>Post Details</h1></label>
                            <textarea id="summernote-detail" name="detail"></textarea>
                            <!--calendar datepicker-->
                            <div class="calendar">
                                <label for="exampleTextarea"><h1>DATE</h1></label>
                                <input type="text" id="datepicker" name="date"></p>
                                <!--button-->
                                <div class="postnew">
                                    <button type="submit">Post Now!</button>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</form>

    <script>
        $(document).ready(function() {
            $('#summernote-title').summernote({
                placeholder: 'Hello bootstrap 4',
                tabsize: 2,
                height: 100
            });
        });

        $(document).ready(function() {
            $('#summernote-brief').summernote({
                placeholder: 'Hello bootstrap 4',
                tabsize: 2,
                height: 200
            });
        });
        $(document).ready(function() {
            $('#summernote-detail').summernote({
                placeholder: 'Hello bootstrap 4',
                tabsize: 2,
                height: 400
            });
        });
    </script>

<script>
    var $$ = $.noConflict();
    $$(function() {
        $$( "#datepicker" ).datepicker({
            showWeek: true,
            firstDay: 1
        });
    });
</script>

</body>
</html>

