<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/post_liked.css">
    <link rel="stylesheet" href="src/boardz.css">
    <link rel="stylesheet" href="css/boardStyle_Likedpost.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


    <link rel="stylesheet" href="/css/participant_home_topbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/fullcalendar.min.css " rel= "stylesheet">
    <link href="css/fullcalendar.print.min.css" rel="stylesheet" media="print">

    <script src="/js/goBack.js"></script>
    <script src='js/jquery-3.3.1.min.js'></script>
    <script src='js/moment.min.js'></script>
    <script src='js/fullcalendar.min.js'></script>

    <script>
    </script>
    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>
</head>
<body>
<div class="topbar">
    <!--logo-->
    <div class="logo">
        <a href="/participantHome">
            <img src="/image/eos_logo.png" alt="Logo is missing">
        </a>
    </div>
    <!--search-->
    <div class="search">
        <!--<input type="text" id="search_bar" placeholder="Interests">-->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Explore your interests">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <!--home-->
    <div class="buttons-coll">
        <button onclick="{location.href='/participantHome'}" class="custom-btn btn-home" >Home</button>
    </div>
    <!--profile-->
    <div class="profile">
        <a href="/eos_participant_profile">
            <img id="iprofile" src="/image/open-iconic-master/svg/person.svg" alt="person">
        </a>
    </div>
    <!--notification-->
    <div class="notif">
        <img id="inotif" src="/image/open-iconic-master/svg/envelope-closed.svg" alt="notification">
    </div>
    <!--logout-->
    <div class="buttons-coll">
        <button onclick="{location.href='/'}" class="custom-btn btn-logout" >Logout</button>
    </div>
</div>
<hr class="seperator 100%">
    <div id="calendar"></div>

<script type="text/javascript">
     function fermitTime(str){
        var time = str.substring(0,3) + ' ' + str.substring(3,6) + ' ' + str.substring(6,8) + ' ' + str.substring(8, 12) + ' ' + str.substring(12, 20) + ' ' + str.substring(20, 27) + ' ' + str.substring(27, 33)
        var now = new Date(time);
        var year = now.getFullYear();
        var mon = now.getMonth()+1;
        var date= now.getDate();
        if(mon<10){
            mon = '0'+mon;
        };
        if(date<10){
            date = '0'+date;
        }
        var postDate = year+'-'+mon+'-'+date;
        return postDate;
    }


    $(document).ready(function() {

      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay,listWeek'
        },
        navLinks: true, // can click day/week names to navigate views
        editable: false,
        eventLimit: true, // allow "more" link when too many events
        events: <%-event%>,

        eventClick: function(event){
            if(event.url){
                window.open(event.url);
                return false;
            }
        }

      });

    });
    </script>

</body>



</html>