<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <script src="/js/goBack.js"></script>
    <link rel="stylesheet" href="/css/post.css" type="text/css">
    <link rel="stylesheet" href="/css/participant_home_topbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<!--topbar-->
<div class="topbar">
    <!--logo-->
    <div class="logo">
        <a href="/eos_provider_profile">
            <img src="/image/eos_logo.png" alt="Logo is missing">
        </a>
    </div>
    <!--search-->
    <div class="search">
        <!--<input type="text" id="search_bar" placeholder="Interests">-->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Explore your interests">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <!--home-->
    <div class="buttons-coll">
        <button onclick="{location.href='/eos_provider_profile'}" class="custom-btn btn-home" >Home</button>
    </div>
    <!--profile-->
    <div class="profile">
        <a href="/eos_provider_profile">
            <img id="iprofile" src="/image/open-iconic-master/svg/person.svg" alt="person">
        </a>
    </div>
    <!--notification-->
    <div class="notif">
        <img id="inotif" src="/image/open-iconic-master/svg/envelope-closed.svg" alt="notification">
    </div>
    <!--logout-->
    <div class="buttons-coll">
        <button onclick="{location.href='/'}" class="custom-btn btn-logout" >Logout</button>
    </div>
</div>

<hr class="seperator 100%">

<!--main page-->
<div class="main">
    <!--title-->
    <div class="title">
        <h1 id="tit">Title of the Activity: </br><%= post.title %></h1>
    </div>
    <!--article-->
    <div class="main_box">
        <!--status bar-->
        <div class="main_box sidebar"></div>

        <div class="main_box content">
            <div class="brief">
                This is the Brief of the Activity: <%= post.brief %>
                </div>

            <p id="context"><%= post.detail %></p>
            <br><br>

        </div>

        <div class="main_box sidebar">

        </div>

    </div>
</div>
<!--bottom-->
<div class ="footer">
    <!--button-->
    <div class="Like">
        <div class="box">
            <input name="like" type="image" src="image/Like.svg" onclick="this.src='image/like2.svg'" />
        </div>
        <p>Like</p>
    </div>

    <div class="New">
        <div class="box">
            <input name="new" type="image"  src="image/New.svg" onclick="this.src='image/New2.svg'"/>
        </div>
        <p>Join</p>
    </div>
</div>


</body>
</html>