<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>PROFILE</title>
    <style>
        .image{
            border-radius:50%;
            width: 130%;
            height: 140%;
        }
        .username{
            position: relative;
            top: 200%;
            left: 8%;
        }
    </style>
    <style>
        .container {
            display: grid;
            grid-template-columns:  1fr 1fr  1fr 1fr ;
            grid-template-rows: 1fr ;
            grid-template-areas: "image  middle right left"
        }
    </style>
    <style>
        .image{
            grid-area: image;
            font-family: Gabriola;
        }
    </style>
    <style>
        .picture{
            border-radius:50%;
            width: 50%;
            height: 50%;
        }
    </style>
    <style>
        .picture:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
    <style>
        .pipo{
            grid-area: pipo;
        }
    </style>
    <style>
        .p1{
            grid-area: middle;
        }
    </style>
    <style>
        .p2{
            grid-area: right;
        }
    </style>
    <style>
        .p3{
            grid-area: left;
        }
    </style>
    <style>
        .p4{
            grid-area: bottom;
        }
    </style>
    <style>
        #p1{
            border-radius: 25px;
            background-color: darkgray;
            border: 20px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 30px;
            margin: 4px 2px;
            cursor: pointer;
            width: 200px;
            height: 200px;
            text-decoration: none;
            font-family: Gabriola;

        }



    </style>
    <style>
        #p1:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
    <style>
        #p2:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
    <style>
        #p3:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
    <style>
        #p4:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
    <style>
        #p2{
            border-radius: 25px;
            background-color: gray;
            border: 20px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 30px;
            margin: 4px 2px;
            cursor: pointer;
            width: 200px;
            height: 200px;
            text-decoration: none;
            font-family: Gabriola;
        }
    </style>

    <style>
        #p3{
            border-radius: 25px;
            background-color:dimgray;
            border:20px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 30px;
            margin: 4px 2px;
            cursor: pointer;
            width:200px ;
            height: 200px;
            text-decoration: none;
            font-family: Gabriola;
        }
    </style>

</head>

<body>
<%- include("./participantHomeTopbar.ejs") %>

<div class="container">

    <div class="image">
        <img  src="http://img2.touxiang.cn/file/20170630/56f72c829d88f88f042a3ab9a56228b6.jpg" class="picture" height="500" width="500">
    </div>
    <div class="username">
        <h1>LAY</h1>
    </div>




    <div class="p1">
        <a href="#" class="button" id="p1">Post 1</a>
    </div>
    <div class="p2">
        <a href="#" class="button" id="p2">Post 2</a>
    </div>
    <div class="p3">
        <a href="#" class="button" id="p3">Post 3</a>
    </div>
</div>
</div>

</body>
</html>
