<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <script src="/js/goBack.js"></script>
    <link rel="stylesheet" href="/css/post.css" type="text/css">
    <link rel="stylesheet" href="/css/participant_home_topbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<!--topbar-->
<div class="topbar">
    <!--logo-->
    <div class="logo">
        <a href="/eos_provider_profile">
            <img src="/image/eos_logo.png" alt="Logo is missing">
        </a>
    </div>
    <!--search-->
    <div class="search">
        <!--<input type="text" id="search_bar" placeholder="Interests">-->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Explore your interests">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <!--home-->
    <div class="buttons-coll">
        <button onclick="{location.href='/eos_provider_profile'}" class="custom-btn btn-home" >Home</button>
    </div>
    <!--profile-->
    <div class="profile">
        <a href="/eos_provider_profile">
            <img id="iprofile" src="/image/open-iconic-master/svg/person.svg" alt="person">
        </a>
    </div>
    <!--notification-->
    <div class="notif">
        <img id="inotif" src="/image/open-iconic-master/svg/envelope-closed.svg" alt="notification">
    </div>
    <!--logout-->
    <div class="buttons-coll">
        <button onclick="{location.href='/'}" class="custom-btn btn-logout" >Logout</button>
    </div>
</div>

<hr class="seperator 100%">

<!--main page-->
<div class="main">
    <!--title-->
    <div class="title">
        <h1 id="tit">Title of the Activity:</br> Ignite the creativity in every student</h1>
    </div>
    <!--article-->
    <div class="main_box">
        <!--status bar-->
        <div class="main_box sidebar">

        </div>

        <div class="main_box content">
            <div class="brief">
                This is the Brief of the Activity:</br>
                Not only with powerful products, but also with tools, inspiration and curriculums to help you create magical learning experiences. Apple products put complete freedom of expression in the hands of every student who uses them. iPad is simple enough for anyone to master from the start, and flexible enough to let students go wherever their ideas take them. Mac provides the power to pursue even the most ambitious projects. </br></br></br>
            </div>

            <p id="context">Every child is born full of creativity. Nurturing it is one of the most important things educators do. Creativity makes your students better communicators and problem solvers. It prepares them to thrive in today’s world — and to shape tomorrow’s. For 40 years, Apple has helped teachers unleash the creative potential in every student. And today, we do that in more ways than ever. Not only with powerful products, but also with tools, inspiration and curriculums to help you create magical learning experiences.
                Apple products put complete freedom of expression in the hands of every student who uses them. iPad is simple enough for anyone to master from the start, and flexible enough to let students go wherever their ideas take them. Mac provides the power to pursue even the most ambitious projects. And with a full suite of Apple‑designed apps made for creation, both iPad and Mac give students a canvas as limitless as their imaginations.We’ve developed tools to make it easy for you to guide how your students use devices and apps in the classroom, and to provide valuable insight into each student’s progress.
                So you can focus on what’s most important: teaching.When students have more ways to express ideas, it changes how they think. They see things they wouldn’t otherwise see and make connections they wouldn’t otherwise make. With this in mind, we’ve worked with educators to design a new curriculum that helps you give students the skills to communicate through drawing, photography, music and filmmaking — and then fold these skills into every subject you teach. So your students can put maths equations to music, bring an illustrator’s eye to social studies, and make scientific processes come alive on film.
                Coding is essential to help students thrive in a future driven by technology. We created the comprehensive Everyone Can Code curriculum with lessons on iPad and Mac, teacher guides and apps to make it easy to teach coding in your classroom. Because we believe coding isn’t extracurricular — it’s part of the core curriculum.
            </p>

        </div>

        <div class="main_box sidebar">

        </div>

    </div>
</div>
<!--bottom-->
<div class ="footer">
    <!--button-->
    <div class="Like">
        <div class="box">
            <input name="like" type="image" src="image/Like.svg" onclick="this.src='image/Like2.svg'" />
        </div>
        <p>Like</p>
    </div>

    <div class="New">
        <div class="box">
            <input name="new" type="image"  src="image/New.svg" onclick="this.src='image/New2.svg'"/>
        </div>
        <p>Join</p>
    </div>
</div>


</body>
</html>