<!--Home page for participant, after login-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eos-Provider</title>
    <script src="/js/goBack.js"></script>
    <link rel="stylesheet" href="/css/participant_home_topbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <!--topbar-->
    <div class="topbar">
        <!--logo-->
        <div class="logo">
            <a href="/eos_provider_profile">
                <img src="/image/eos_logo.png" alt="Logo is missing">
            </a>
        </div>
        <!--search-->
        <div class="search">
            <!--<input type="text" id="search_bar" placeholder="Interests">-->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Explore your interests">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <div class="icons">
            <div class="buttons-coll">
                <button onclick="{location.href='/eos_provider_profile'}" class="custom-btn btn-home" >Home</button>
            </div>
            <!--logout-->
            <div class="buttons-coll">
                <button onclick="{location.href='/'}" class="custom-btn btn-logout" >Logout</button>
            </div>
        </div>

       <!--home-->

    </div>
    <hr class="seperator 100%">


    <!--body part-->
    <!--participantHome.ejs-->
</body>
</html>