<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Participant-PROFILE</title>
    <link rel="stylesheet" href="/css/quiz.css">

</head>

<body>
<%- include("./participantHomeTopbar.ejs") %>

<div class="container">
    <!--user image-->

    <!--post related part-->
    <div class="image">
        <img  src="http://manukajade.com/wp-content/uploads/2016/09/I-will-study-and-I-will-win.jpg" class="picture" height="800" width="800">
       </div>
    <div class="image1">
        <img  src="https://static.tumblr.com/4d0d7be2cd1e075981cf912e8508649e/22c2eko/VEVnwrtw1/tumblr_static_filename_640_v2.jpg" class="picture" height="800" width="800">

    </div>


        <div class="p2">
            <a href="https://app.brandquiz.io/jiahui-liang/technology-quiz-2702" class="button" id="p2">IT knowledge test<br><p>This is a test related to IT industry</p></a>
        </div>
        <div class="p3">
            <a href="https://app.brandquiz.io/jiahui-liang/test-your-bitcoin-knowledge-a08e" class="button" id="p3">Bitcoin test<br><br><p>Go and test your knowledge about bitcoin</p></a>
        </div>
        <!--quiz-->
        <div class="p4">
            <a href="https://app.brandquiz.io/jiahui-liang/iq-test-d7fb" class="button" id="p4">IQ test<br><br><p>Go and test your IQ</p></a>
        </div>
        <div class="p1" >
            <a href="https://app.brandquiz.io/jiahui-liang/test-your-history-know-how-3292" class="button" id="p1">history knowledge test<br><br><p>Go and test history knowledge</p></a>
        </div>
        <!--user profile-->

    </div>

</body>
</html>
