@import url('https://fonts.googleapis.com/css?family=Gaegu:700');

body{
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-color: aliceblue;
}

.page{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
    "header login-grid login-grid"
    "slogan slogan slogan"
    "button1 button1 button2";
}

/*@media screen and (mid-width: 992px){*/
    /*.page{*/
        /**/
    /*}*/
/*}*/

.header{
    grid-row: 1/2;
    grid-column: 1/2;
    font-family: 'Gaegu', cursive;
    font-size: 100px;
    background-color: #518BC5;
    font-variant-position: inherit;
    left: 40px;
}

.login-grid{
    grid-row: 1/2;
    grid-column: 2/4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #518BC5;
}

.login{
    grid-row: 2/3;
    font-family: 'Gaegu', cursive;
    font-size: large;
    text-align: right;
    position: relative;
    right: 30px;
}

.login gaegu{
    font-family: 'Gaegu', cursive;
    font-size: large;
}

.page .login-grid .login a{
    color: antiquewhite;
}

.slogan-grid{
    grid-row: 2/3;
    grid-column: 1/4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.slogan{
    grid-row: 2/3;
    font-family: 'Gaegu', cursive;
    font-size: xx-large;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 300px;
    height: 100px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 100px;
}

.btn-outline-success{
    width: 300px;
    height: 100px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 100px;
}

.page .button1 p{
    font-family: 'Gaegu', cursive;
    font-size: x-large;
}

.page .button2 p{
    font-family: 'Gaegu', cursive;
    font-size: x-large;
}

.button1{
    grid-row: 3/4;
    grid-column: 1/3;
    text-align: center;
}
.button2{
    grid-row: 3/4;
    grid-column: 3/4;
    text-align: center;
}