@import url('https://fonts.googleapis.com/css?family=Gaegu:700');

body{
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-color: aliceblue;
}

.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "slogan slogan"
    "left right";
}

.slogan-grid{
    grid-area: slogan;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.slogan{
    grid-row: 2/3;
    font-family: 'Gaegu', cursive;
    font-size: xx-large;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 300px;
    height: 100px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 100px;
}

.btn-outline-success{
    width: 300px;
    height: 100px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 100px;
}

.page .button1 p{
    font-family: 'Gaegu', cursive;
    font-size: x-large;
}

.page .button2 p{
    font-family: 'Gaegu', cursive;
    font-size: x-large;
}

.button1{
    grid-area: left;
    text-align: center;
}
.button2{
    grid-area: right;
    text-align: center;
}