/*body{*/
    /*background: url('http://thecodeplayer.com/uploads/media/geometry.png');*/
/*}*/

/*.main{*/
    /*height:500px;*/
    /*display:table;*/
    /*width: 100%;*/
/*}*/
/*.module{*/
    /*display:table-cell;*/
/*}*/
/*.sidebar{*/
    /*width:400px;*/
    /*height: 100%;*/
/*}*/
/*.Edit{*/
    /*margin-top:25%;*/
    /*text-align: center;*/
/*}*/
/*.photo{*/
    /*margin-left:30%;*/
/*}*/
/*.info{*/
    /*height:100%;*/
    /*border:dashed;*/
/*}*/
/*.poster{*/
    /*padding-left:400px;*/
    /*height:500px;*/
    /*display: table;*/
    /*width: 100%;*/
/*}*/
/*.post{*/
    /*display: table-cell;*/
/*}*/


/*.grid {*/
    /*background-color: rgba(62, 143, 78, 0.79);*/
    /*max-width: 800px;*/
    /*border: 1px hidden;*/
    /*margin: 6px;*/
    /*border-radius: 15px;*/
    /*flex-direction: column;*/
/*}*/

.container2{
    border: 5px hidden;
    margin: 10px;
}

* { box-sizing: border-box; }

.grid {
    background: #DDD;
    /*!*border: 10px hidden;*!*/
    /*!*margin-left: 300px;*!*/
    /*!*margin-right: 30px;*!*/
    max-width: 1000px;
    /*!*height: auto;*!*/
    /*!*position: relative;*!*/

}

.grid-item {
    /*!*float: left;*!*/
    width: 200px;
    height: auto;
    background: #3e8f4e;
    /*!*border: 2px hidden;*!*/
    /*!*margin: 5px;*!*/
    /*!*border-radius: 5px;*!*/
    border-radius: 25px;
    background-color: rgba(34, 155, 34, 0.75);
    border:20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    width:250px ;
    height: auto;

}

/*input{*/
    /*height: 800px;*/
    /*width: 200px;*/
/*}*/

/*.grid-item { width: 100%; }*/
/*.grid-item--width2 { width: 50%; }*/


