/*self-define*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300i');
body{
    background: url('http://thecodeplayer.com/uploads/media/geometry.png');
}
.brief{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    word-spacing: 0.3em;
}
.posts{
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-rows: 1fr 13fr;
    grid-template-areas:
    "brief brief brief"
    "left main right";
}
.beautiful{
    grid-area: main;
}

.goback{
    grid-area: left;
}

.posts .beautiful .ali{
    color: inherit;
    text-decoration: none;
}




/*orgin*/
p {
    letter-spacing: .01em;
    font-size: 1.5em;
    font-weight: 400;
}
.available-classes ul {
    letter-spacing: .01em;
    font-size: 1.5em;
    font-weight: 400;
}
h2 {
    font-size: 5vh;
    font-weight: 400;
}
.page-header {
    display: flex;
    flex-direction: column;
    font-size: 4vh;
}
.subheader {
    font-size: 4vh;
    color: gray;
}
.text-center {
    text-align: center;
}
.seperator {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.centered-block {
    margin: auto;
}
.fifty-percent {
    width: 50%;
}
.seventyfive-percent {
    width: 75%;
}
.footer {
    font-size: 0.8em;
}