@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600i');
body{
    background: url('http://thecodeplayer.com/uploads/media/geometry.png');
    font-family: 'Ubuntu', sans-serif;
}
.editsec{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
    "left main right";
    position: relative;
    top: 80px;
}

#title{
    grid-area: main;
    color: #306a93;
}

#brief{
    grid-area: main;
    /*position: inherit;*/
    /*top: 40px;*/
    border: 10px hidden;
    margin-top: 100px;
    /*margin-bottom: 100px;*/
    color: #306a93;
    /*float: inside;*/
}

#detail{
    grid-area: main;
    color: #306a93;
    border: 100px hidden;
    margin-top: 100px;
    float: bottom;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

/*button*/
body .postnew{
    grid-area: main;
    text-align:center;
    position: relative;
    /*float: bottom;*/
    border: 100px hidden;
    margin-top: 100px;

}
body:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
}
.postnew button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.postnew button:hover{
    background:#fff;
    color:#1AAB8A;
}
.postnew button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
.postnew button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.postnew button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
}
