/*jhl*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600i,800');

body{
    background: url('http://thecodeplayer.com/uploads/media/geometry.png');
}
.image{
    border-radius:50%;
    width: 150%;
    height: 150%;
    grid-area: image;
    font-family: Gabriola;
    position: absolute;
    left: -2em;
    grid-area: image;
}
.image1{
    border-radius:50%;
    width: 150%;
    height: 150%;
    grid-area: image;
    font-family: Gabriola;
    position: absolute;
    left: -2em;
    grid-area: image1;
}
.container {
    display: grid;
    grid-template-columns:  1fr 1fr  1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: "middle image right"
    "left image1  bottom";
    position: relative;
    top: 60px;}

.picture{
    border-radius:50%;
    width: 50%;
    height: 50%;
}
.picture:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.pipo{
    grid-area: pipo;
}
.p1{
    grid-area: middle;
}
.p2{
    grid-area: right;
    position: relative;
    top: 20px;
}
.p3{
    grid-area: left;
    position: relative;
    top: 20px;
}
.p4{
    grid-area: bottom;
    position: relative;
    top: 20px;
}
#p1{
    border-radius: 25px;
    background-color: #bce8f1;
    border: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    height: 200px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
#p1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    font-family: 'Montserrat', sans-serif;
}
#p2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#p3:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#p4:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#p1{
    font-family: 'Montserrat', sans-serif;
}
#p2{
    border-radius: 25px;
    background-color:skyblue;
    border: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    height: 200px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
p{
    color: #464c53;
}
#p3{
    border-radius: 25px;
    background-color:steelblue;
    border:20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width:250px ;
    height: 200px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
#p4{
    border-radius: 25px;
    background-color: cadetblue;
    border: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    height: 200px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/*byl*/
/*body{*/
/*background: url('http://thecodeplayer.com/uploads/media/geometry.png');*/
/*}*/
/*.main{*/
/*height:500px;*/
/*display:table;*/
/*width: 100%;*/
/*}*/